body {
    background: azure;
    background: slategrey;
    background: #f5f6f6;


}
a{
    padding-right: 10%;
    padding-left: 10%;
    text-decoration: none;

}
.main{

}

h1 {
    font-weight: bold;
    text-align: center;
}
.zadhig{
    min-height: 50px;
    color: #fff;
    padding:40px;
    background: rgba(198, 199, 199, 0.3); /* Цвет фона */
    color: black; /* Цвет текста */
    padding: 15px; /* Поля вокруг текста */
}

.zadpod {
    min-height: 500px;
    background: rgba(75, 75, 75, 0.7);
    color: black;
    padding: 20px;
}

.login {
    margin: 220px auto;
    border-radius: 25px/25px;
    background: rgba(75, 75, 75, 0.3);
    width: 450px;
    height: 300px;
    padding: 70px;
    text-align: center;

}

.register {
    margin: 220px auto;
    border-radius: 25px/25px;
    background: rgba(75, 75, 75, 0.3);
    width: 450px;
    height: 500px;
    padding: 120px;
}

.zagolovok1 {
    height: 150px;
    padding-top: 35px;
}

.goods-min-cart {
    width: 23%;
    background: rgba(175, 75, 75, 0.9);
    border-radius: 25px/25px;
    margin: 1%;
    text-align: center;
    padding: 10px;
    wight: 100px;
    hight: 100%;
    float: left;

}

.click-me{
    text-decoration: none;
    color: black;
}
.click-me:hover{
    color: darkred;
}
.table{
	border: 1px solid #eee;
	table-layout: fixed;
	width: 100%;
	margin-bottom: 20px;
}
.table th {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #dddddd;
}
.table td{
	padding: 5px 10px;
	border: 1px solid #eee;
	text-align: left;
}
.table tbody tr:nth-child(odd){
	background: #fff;
}
.table tbody tr:nth-child(even){
	background: #F7F7F7;
}